//- table - Responsive Table object
mixin table-custom(table, tableAttr, responsive)
	// Classic Responsive Table
	table.table.table-custom(data-responsive=(responsive == true) ? 'true' : 'false' class= tableAttr)
		each row, i in table
			tr
				each col in row
					- if (i == 0)
						th= col
					- else
						td= col


//- Table
	@param {object} table - table object
	@param {Array} table.body
	@param {Array} [table.head]
	@param {Array} [table.foot]
	@example
		+table-custom({
			head: [ 'Column 1', 'Column 2' ],
			body: [[ 'Item #1', 'Description' ]],
			foot: [ 'All Items', 'Description' ]
		}).table-custom-secondary
mixin table-custom-2( table )
	.table-custom-responsive
		table.table-custom&attributes( attributes )
			if (table.head)
				thead
					tr
						each col in table.head
							th= col

			tbody
				each row, i in table.body
					tr
						each col in row
							td= col

			if (table.foot)
				tfoot
					tr
						each col in table.foot
							td= col
